.calculator {
    position: relative;
    top: 55px;
    padding: 0px;
    border-radius: 10px;
    height: 500px;
    width: 300px;
    margin: auto;
    background-color: #191b28;
}

.display-box {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: #c1c1c1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 300px;
    height: 60px;
}

#btn {
    background-color: #fb0066;
    width: 60px;
    height: 60px;
}

#calc {
    background-color: #008000;
    width: 60px;
    height: 60px;
}

#op {
    background-color: #daa520;
    width: 60px;
    height: 60px;
}

input[type=button] {
    font-family: sans-serif;
    font-size: larger;
    background-color: grey;
    color: #ffffff;
    border: solid #000000 0.5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 5px;
}

input:active[type=button] {
    background: #ffffff;
}

h1{
    text-align: center;
}